.section--about {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 100vh;

    @media (max-width: 768px) {
        align-content: flex-end;
    }

    .container--left {
        width: calc(42.5% - 115px);
        margin: 0 0 0 auto;
        // flex: 1 1 auto;
        border: 1px solid $mainWhite;

        @media (max-width: 1229px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: none;
            border: 1px solid $mainPurple;
            margin: 0 0 0 auto;
            padding: 0 6% 0;
            // padding: 0 100px 0;
            width: calc(100% - 115px);
            height: 38.2%;
        }

        @media (max-width: 768px) {
            width: 100%;
            height: calc(38.2% - 115px * 0.382);
            margin: auto 0 0 0;
        }
    }
    
    .container--right {
        width: 57.5%;
        // min-width: 850px;
        margin: 0;
        padding: 0;
        // flex: 1 1 822px;

        @media (max-width: 1229px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex: none;
            border: 1px solid $mainPurple;
            margin: 0 0 0 auto;
            padding: 0 6% 0;
            // padding: 0 100px 0;
            height: 61.8%;
            width: calc(100% - 115px);
        }

        @media (max-width: 768px) {
            // text-align: center;
            width: 100%;
            height: calc(61.8% - 115px * 0.618);
            margin: 0;
        }

        .line-break {
            display: block;
            border: 1px solid $mainPurple;
            margin-top: 4.25%;

            .underline {
                display: inline-block;
                padding-bottom: 1.8%;
                // padding-bottom: 15px;
                border-bottom: 4px solid $mainWhite;
                // transition: all ease 150ms;

                &:hover {
                    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✉️</text></svg>") 16 0,auto; /*!emojicursor.app*/
                }

                @media (max-width: 768px) {
                    border-bottom: 3px solid $mainWhite;
                }
            }
        }
    }
}