// Other
$phi: 1.6180339887498948482;

// Primary Palette
$mainBlack: #161616;
$mainWhite: #DDDCE1;
$mainPurple: #4C47F9;

// Skills Palette
$skillsBlue: #165A96;
$skillsPink: #E093B3;
$skillsYellow: #EBC527;
$skillsRed: #F5444C;

// Projects Palette
$projectsYellow: #E3A93D;
$projectsPurple: #494C8F;
$projectsGreen: #167E63;
$projectsRed: #DF5644;
$projectsBlack: #414342;

// Typefaces
$mainFont: 'Inter', Arial, 'Helvetica Neue', Helvetica, sans-serif;

@mixin headingType($sizeValue, $colorValue: $mainWhite) {
    font-family: $mainFont;
    font-size: $sizeValue;
    font-weight: 500;
    color: $colorValue;

    // Confirm these are the right measurements
    letter-spacing: 0.05rem;
    line-height: $sizeValue;
}

@mixin bodyType($sizeValue, $weightValue: 400, $colorValue: $mainWhite) {
    font-family: $mainFont;
    font-size: $sizeValue;
    font-weight: $weightValue;
    color: $colorValue;

    // Confirm these are the right measurements
    letter-spacing: 0rem;
    line-height: $sizeValue;
    // Make this a variable later
    // margin-bottom: 30px;
}