// Primary Palette
$mainBlack: #161616;
$mainWhite: #DDDCE1;
$mainPurple: #4C47F9;

// Skills Palette
$skillsBlue: #165A96;
$skillsPink: #E093B3;
$skillsYellow: #EBC527;
$skillsRed: #F5444C;

// Projects Palette
$projectsYellow: #E3A93D;
$projectsPurple: #494C8F;
$projectsGreen: #167E63;
$projectsRed: #DF5644;
