// Base
html {
    @include bodyType(62.5%);
    background: $mainBlack;
    // scroll-snap-type: y mandatory;
}

#fullpage {
    border: 1px solid red;
}

body {
    // background-image: url('../assets/pixels-a.svg'), url('../assets/pixels-b.svg');

    background-position: 120% top, 180% -2%;

    background-size: 55%;

    background-repeat: no-repeat;
    background-attachment: scroll;
}

*::selection {
    background: rgba(76, 71, 249, 0.99);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;

    &:visited {
        color: auto;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1680px;
    margin: 0 auto;
}

.section {
    height: 100vh;
    min-height: 850px;
    // background: $mainBlack;
    display: flex;
    width: 100vw;
    // scroll-snap-align: start;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 auto;
    padding: 3% 6%;
    width: calc(100% - 115px);
    // border: 1px solid $mainWhite;

    @media (max-width: 768px) {
        width: 100%;
        height: calc(100% - 115px);
        margin: auto 0 0;
    }
}

// font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

.main-heading {
    @include headingType($heading, 52rem, 400);
    line-height: 0.64;
    padding: 0;
    // border: 1px solid $mainAccent;
    margin-right: 3.65%;

    @media (max-width: 1205px) {
        @include headingType($heading, calc(32.2rem + (520 - 322) * ((100vw - 768px) / (1205 - 768))), 400);
        line-height: 0.64;
    }
// 40.3rem / 18.9

    @media (max-width: 768px) {
        @include headingType($heading, calc(18.9rem + (403 - 189) * ((100vw - 375px) / (768 - 375))), 400);
        line-height: 0.64;
    }
    
    // 41.4 / 19.5
    .line-break {
        @include headingType($heading, 53.4rem, 600);
        line-height: 0.72;
        display: block;

        @media (max-width: 1205px) {
            @include headingType($heading, calc(33.1rem + (534 - 331) * ((100vw - 768px) / (1205 - 768))), 600);
            line-height: 0.72;
        }

        @media (max-width: 768px) {
            @include headingType($heading, calc(19.5rem + (414 - 195) * ((100vw - 375px) / (768 - 375))), 600);
            line-height: 0.72;
        }
    }
}

// font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

.secondary-heading {
    @include headingType($body, 7.3rem, 400);
    line-height: 7.3rem;
    max-width: 945px;
    // border: 1px solid $mainAccent;

    .fa-long-arrow-right {
        margin: 0 2.14%;
        // border: 1px solid red;
    }

    @media (max-width: 1205px)  {
        @include headingType($body, calc(4.34rem + (73 - 43.4) * ((100vw - 768px) / (1205 - 768))), 400);
        line-height: calc(4.34rem + (73 - 43.4) * ((100vw - 768px) / (1205 - 768)));
    }

    @media (max-width: 768px)  {
        @include headingType($body, calc(2.54rem + (52.5 - 25.4) * ((100vw - 375px) / (768 - 375))), 400);
        line-height: calc(2.54rem + (52.5 - 25.4) * ((100vw - 375px) / (768 - 375)));
    }
}

.main-paragraph {
    @include bodyType(calc(4.1rem + (55 - 41) * ((100vw - 1229px) / (1680 - 1229))));
    line-height: 1.2;
    // border: 1px solid $mainAccent;
    
    @media (max-width: 1229px) {
        @include bodyType(calc(4.3rem + (55 - 43) * ((100vw - 768px) / (1229 - 769))));
        line-height: 1.2;
    }

    @media (max-width: 768px) {
        @include bodyType(calc(2.1rem + (43 - 21) * ((100vw - 375px) / (768 - 375))));
        line-height: 1.2;
    }
}

.fa-arrow-right {
    transform: rotateZ(45deg);
}
