.section--projects {
    justify-content: flex-end;
    position: relative;

    @media (max-width: 480px) {
        height: 100vh;
        min-height: 930px;
    }

    @media (max-width: 375px) {
        height: 920px;
        min-height: auto;
    }

    .third-headline {
        @include headingType($body, 2.5rem, 400);
        display: inline-block;
        line-height: 1.2;
        user-select: none;

        @media (max-width: 768px) {
            @include headingType($body, calc(2.1rem + (25 - 21) * ((100vw - 375px) / (768 - 375))), 400);
            line-height: 1;
        }
    }
    
    .container--left {
        background-color: $mainBlack;
        margin: 0;
        padding: 3% 0 0 6%;
        position: relative;
        width: calc(40% - 115px / 2);
        z-index: 11;

        @media (max-width: 965px) {
            bottom: 0;
            height: 100%;
            position: absolute;
            width: calc(100% - 115px);
            z-index: 2;
        }

        @media (max-width: 768px) {
            height: calc(100% - 115px);
            margin: auto 0 0 0;
            padding: 6% 6% 0 6%;
            width: 100%;
        }

        .container--top,
        .container--bottom {
            display: flex;
            height: 50%;
            width: 100%;
        }

        .constainer--top {
            align-items: flex-start;
        }

        .projects__category,
        .projects__list {
            height: 100%;
        }

        .projects__category {
            width: 30%;
        }
        
        .projects__list {
            width: 70%;
        }

        .list__item {
            @include bodyType(calc(2.25rem + (34 - 22.5) * ((100vw - 966px) / (1680 - 966))));
            line-height: 1.2;
            margin-bottom: 20px;
            user-select: none;
            
            &:hover {
                cursor: pointer;

                &::after {
                    @keyframes fade { from { opacity: 0 } to { opacity: 1 } }
                    animation: fade 200ms linear;
                    content: ' _';
                }
            }
            
            @media (max-width: 965px) {
                @include bodyType(3.4rem);
                line-height: 1.2;
            }
            
            @media (max-width: 768px) {
                @include bodyType(calc(2.1rem + (34 - 21) * ((100vw - 375px) / (768 - 375))));
                line-height: 1;
            }
        }
    }
    
    .container--right {
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: calc(60% - 115px / 2);

        .summary--hide {
            transform: translateX(calc(-100% - 1px)) translate3d(0, 0, 0);
        }

        .summary--hover {
            transform: translateX(calc(-100% + 48px)) translate3d(0, 0, 0);

            @media (max-width: 768px) {
                transform: translateX(calc(-100% + 45px)) translate3d(0, 0, 0);
            }
        }
        
        .summary--display {
            transform: translateX(0) translate3d(0, 0, 0);
        }
        
        .projects__summary {
            background-color: $mainBlack;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 3vw 10% 5% 10%;
            position: absolute;
            transition: transform 250ms ease-in-out;
            transition-delay: 250ms;
            width: 100%;
            z-index: 8;

            @media (max-width: 965px) {
                padding: 5% 10% 5% 5%;
            }

            .summary__accessories {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;

                .accessories__close {
                    color: $mainWhite;
                    font-size: 3rem;
                    line-height: 1;
                    transition: transform ease-in-out 100ms;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.15);
                    }
                }
    
                .accessories__tag {
                    color: $mainWhite;
                    font-size: 1.5rem;
                    line-height: 1;
                    position: absolute;
                    right: 1.5rem;
                    text-transform: uppercase;
                    top: auto;
                    transform: translateX(100%) rotateZ(90deg);
                    transform-origin: top left;
                }

            }

            .fourth-headline {
                @include headingType($body, 5.5rem, 400);
                line-height: 1;
                margin-bottom: 20px;
                
                @media (max-width: 500px) {
                    @include bodyType(calc(3.6rem + (55 - 36) * ((100vw - 375px) / (500 - 375))));
                }
            }

            .summary__skills {
                align-content: space-between;
                display: flex;
                flex-wrap: wrap;
                height: auto;
                margin-bottom: 20px;
                user-select: none;
                width: auto;
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;

                .skills__pill {
                    border: 2px solid $mainWhite;
                    border-radius: 20% / 70%;
                    height: 40px;
                    margin-right: 20px;
                    min-width: 120px;
                    text-align: center;
                    text-transform: uppercase;

                    &:last-child {
                        margin-right: 0;
                    }
    
                    p {
                        @include bodyType(1.768rem);
                        line-height: calc(4rem - 4px);
                        
                        @media (max-width: 500px) {
                            @include bodyType(calc(1.6rem + (17.68 - 16) * ((100vw - 375px) / (500 - 375))));
                            line-height: calc(4rem - 4px);
                        }
                    }
                }
            }

            .summary__video {
                // My Styles
                background-color: $mainWhite;
                margin-bottom: 20px;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;

                // Vimeo Styles
                padding: 56.25% 0 0 0;
                position: relative;
                
                iframe {
                    display: block;
                    height: 100%;
                    left: 0;
                    padding: 2px;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }

            .summary__description {
                @include bodyType(2.02rem);
                line-height: 1.4;
                margin-bottom: 20px;
                    
                    @media (max-width: 768px) {
                        @include bodyType(calc(1.6rem + (19 - 16) * ((100vw - 768px) / (500 - 768))));
                        line-height: 1.4;  
                    }
                    
                    @media (max-width: 500px) {
                        @include bodyType(calc(1.6rem + (19 - 16) * ((100vw - 375px) / (500 - 375))));
                        line-height: 1.4;  
                    }
            }

            .summary__links {
                display: flex;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;

                li:first-child {
                    margin-right: 40px;
                }

                p {
                    @include bodyType(2.02rem);
                    color: $mainWhite;
                    line-height: 1;
                    
                    @media (max-width: 500px) {
                        @include bodyType(calc(1.8rem + (20.2 - 18) * ((100vw - 375px) / (500 - 375))));
                        line-height: 1;
                    }

                }

                .fa-arrow-right {
                    transform: rotateZ(45deg);
                }
            }
        }

        .summary--macro-calculator {
            background-color: $dietPrimary;

            ::selection {
                background: rgba(224, 147, 179, 0.99);
                color: rgba(22, 90, 150, 0.99);
            }

            .summary__accessories {
                .accessories__close {
                    color: $dietSecondary;
                }
    
                .accessories__tag {
                    color: $dietSecondary;
                }
            }

            .fourth-headline {
                color: $dietSecondary;
            }

            .summary__skills {
                @media (max-width: 1516px) {
                    height: 100px;
                }

                @media (max-width: 965px) {
                    height: auto;
                }
                
                @media (max-width: 917px) {
                    height: 100px;
                }

                @media (max-width: 917px) {
                    height: 100px;
                }

                @media (max-width: 470px) {
                    height: 160px;
                }
                
                .skills__pill {
                    border: 2px solid $dietSecondary;

                    p {
                        color: $dietSecondary;
                        
                    }

                    @media (max-width: calc(1516px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 1224px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: calc(1224px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }

                    }

                    @media (max-width: 965px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }
                    
                    @media (max-width: calc(917px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }
                    
                    @media (max-width: 637px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 637px - 128px) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 470px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 470px - 128px) {
                        &:nth-child(2) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .summary__video {
                background-color: $dietSecondary;
            }

            .summary__description {
                color: $dietSecondary;
            }

            .summary__links {
                p {
                    color: $dietSecondary;
                }
            }
        }

        .summary--recipease {
            background-color: $recipeasePrimary;

            ::selection {
                background: rgba(145, 79, 0, 0.99);
                color: rgba(253, 166, 61, 0.99);
            }

            .summary__accessories {
                .accessories__close {
                    color: $recipeaseSecondary;
                }
    
                .accessories__tag {
                    color: $recipeaseSecondary;
                }
            }

            .fourth-headline {
                color: $recipeaseSecondary;
            }

            .summary__skills {
                @media (max-width: 1516px) {
                    height: 100px;
                }

                @media (max-width: 965px) {
                    height: auto;
                }
                
                @media (max-width: 917px) {
                    height: 100px;
                }

                @media (max-width: 470px) {
                    height: 160px;
                }
                
                .skills__pill {
                    border: 2px solid $recipeaseSecondary;
                    
                    p {
                        color: $recipeaseSecondary;
                    }

                    @media (max-width: calc(1516px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 1224px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: calc(1224px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 965px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }
                    
                    @media (max-width: calc(917px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }
                    
                    @media (max-width: 637px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 637px - 128px) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 470px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 470px - 128px) {
                        &:nth-child(2) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .summary__video {
                background-color: $recipeaseSecondary;
            }

            .summary__description {
                color: $recipeaseSecondary;
            }

            .summary__links {
                p {
                    color: $recipeaseSecondary;
                }
            }
        }

        .summary--fridge-verses {
            background-color: $fridgeVersesPrimary;

            ::selection {
                background: rgba(0, 82, 70, 0.99);
                color: rgba(1, 185, 159, 0.99);
            }

            .summary__accessories {
                .accessories__close {
                    color: $fridgeVersesSecondary;
                }
    
                .accessories__tag {
                    color: $fridgeVersesSecondary;
                }
            }

            .fourth-headline {
                color: $fridgeVersesSecondary;
            }

            .summary__skills {
                @media (max-width: 1516px) {
                    height: 100px;
                }

                @media (max-width: 965px) {
                    height: auto;
                }

                @media (max-width: 917px) {
                    min-height: 100px;
                }

                @media (max-width: 470px) {
                    height: 160px;
                }
                
                .skills__pill {
                    border: 2px solid $fridgeVersesSecondary;
                    
                    p {
                        color: $fridgeVersesSecondary;
                    }

                    @media (max-width: calc(1516px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 1224px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: calc(1224px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 965px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }
                    
                    @media (max-width: calc(917px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }
                    
                    @media (max-width: 637px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 637px - 128px) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 470px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 470px - 128px) {
                        &:nth-child(2) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .summary__video {
                background-color: $fridgeVersesSecondary;
            }

            .summary__description {
                color: $fridgeVersesSecondary;
            }

            .summary__links {
                p {
                    color: $fridgeVersesSecondary;
                }
            }
        }

        .summary--nosuchthing {
            background-color: $nosuchthingPrimary;

            ::selection {
                background: rgba(255, 226, 226, 0.99);
                color: rgba(227, 87, 66, 0.99);
            }

            .summary__accessories {
                .accessories__close {
                    color: $nosuchthingSecondary;
                }
    
                .accessories__tag {
                    color: $nosuchthingSecondary;
                }
            }

            .fourth-headline {
                color: $nosuchthingSecondary;
            }

            .summary__skills {
                @media (max-width: 1224px) {
                    height: 100px;
                }

                @media (max-width: 965px) {
                    height: auto;
                }

                @media (max-width: 637px) {
                    height: 100px;
                }

                .skills__pill {
                    border: 2px solid $nosuchthingSecondary;

                    p {
                        color: $nosuchthingSecondary;
                    }

                    @media (max-width: calc(1224px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 965px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: calc(637px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 470px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 470px - 128px) {
                        &:nth-child(2) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .summary__video {
                background-color: $nosuchthingSecondary;
            }

            .summary__description {
                color: $nosuchthingSecondary;
            }

            .summary__links {
                p {
                    color: $nosuchthingSecondary;
                }
            }
        }

        .summary--strainless {
            background-color: $strainlessPrimary;

            ::selection {
                background: rgba(52, 67, 124, 0.99);
                color: rgba(168, 226, 228, 0.99);
            }

            .summary__accessories {
                .accessories__close {
                    color: $strainlessSecondary;
                }
    
                .accessories__tag {
                    color: $strainlessSecondary;
                }
            }

            .fourth-headline {
                color: $strainlessSecondary;
            }

            .summary__skills {
                @media (max-width: 1224px) {
                    height: 100px;
                }

                @media (max-width: 965px) {
                    height: auto;
                }

                @media (max-width: 637px) {
                    height: 100px;
                }

                .skills__pill {
                    border: 2px solid $strainlessSecondary;

                    p {
                        color: $strainlessSecondary;
                    }

                    @media (max-width: calc(1224px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 965px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: calc(637px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 470px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 470px - 128px) {
                        &:nth-child(2) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .summary__video {
                background-color: $strainlessSecondary;
            }

            .summary__description {
                color: $strainlessSecondary;
            }

            .summary__links {
                p {
                    color: $strainlessSecondary;
                }
            }
        }

        @media (max-width: 965px) {
            width: calc(100% - 115px);
        }

        @media (max-width: 768px) {
            height: calc(100% - 115px);
            margin: auto 0 0 0;
            width: 100%;
        }
    }

    .projects__typed {
        height: 100%;
        margin: 0;
        padding: 4.3% 6% 6% 75px;
        width: 100%;

        @include bodyType(calc(2.25rem + (34 - 22.5) * ((100vw - 966px) / (1680 - 966))));
        line-height: 1.4;
        user-select: none;  

        #typed {
            display: inline;
        }
    }

    .typed-cursor {
        @include bodyType(calc(2.25rem + (34 - 22.5) * ((100vw - 966px) / (1680 - 966))));
        line-height: 1.4;
        user-select: none;    
    }

    .typed-highlight--diet-calculator {
        color: $dietSecondary;
    }

    .typed-highlight--recipease {
        color: $recipeasePrimary;
    }

    .typed-highlight--fridge-verses {
        color: $fridgeVersesPrimary;
    }

    .typed-highlight--nosuchthing {
        color: $nosuchthingPrimary;
    }

    .typed-highlight--strainless {
        color: $strainlessPrimary;
    }

    .typed-cursor.typed-cursor--blink {
        animation: typedjsBlink 1s infinite;
    }
}