.section--projects {
    display: flex;
    justify-content: flex-end;
    position: relative;
    min-height: 940px;

    .third-headline {
        // Shouldn't this be headingType?
        @include bodyType(2.5rem);
        line-height: 1.2;
        user-select: none;
        // border: 1px solid red;
        display: inline-block;
        
        // @media (min-width: 1681px) {
        //     @include bodyType(calc(2.5rem));
        // }
    }
    
    .container--left {
        position: relative;
        z-index: 11;
        display: flex;
        width: calc(40% - 115px / 2);
        margin: 0;
        padding: 3% 0 0 6%;
        background-color: $mainBlack;
        // border: 1px solid $mainWhite;

        @media (max-width: 965px) {
            position: absolute;
            bottom: 0;
            width: calc(100% - 115px);
            z-index: 2;
            height: 100%;
        }

        @media (max-width: 768px) {
            width: 100%;
            height: calc(100% - 115px);
            margin: auto 0 0 0;
            padding: 6% 6% 0 6%;
        }

        .container--top,
        .container--bottom {
            display: flex;
            height: 50%;
            width: 100%;
            // border: 1px solid $mainWhite;
        }

        .constainer--top {
            align-items: flex-start;
        }

        .projects__category,
        .projects__list {
            height: 100%;
            // border: 1px solid $mainAccent;
        }

        .projects__category {
            width: 30%;
        }
        
        .projects__list {
            width: 70%;
        }

        .list__item {
            @include bodyType(calc(2.25rem + (34 - 22.5) * ((100vw - 966px) / (1680 - 966))));
            margin-bottom: 20px;
            line-height: 1;
            user-select: none;
            // border: 1px solid red;
            // display: inline-block;
            
            &:hover {
                cursor: pointer;
            }
            
            @media (max-width: 965px) {
                @include bodyType(3.4rem);
                line-height: 1;
            }
            
            @media (max-width: 768px) {
                @include bodyType(calc(2.78rem + (34 - 27.8) * ((100vw - 375px) / (768 - 375))));
                line-height: 1;
            }
            
            // @media (min-width: 1681px) {
            //     @include bodyType(3.4rem);
            // }

            // @media (max-width: 1452px) {
            //     @include bodyType(calc(1.6rem + 0.9vw));
            //     line-height: 1.2;
            // }

            // @media (max-width: 1263px) {
            //     @include bodyType(calc(1.5rem + 0.6vw));
            //     line-height: 1.2;
            // }
        }
    }
    
    .container--right {
        width: calc(60% - 115px / 2);
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;

        .summary--hide {
            transform: translateX(calc(-100% - 1px)) translate3d(0, 0, 0);
        }

        .summary--hover {
            transform: translateX(calc(-100% + 48px)) translate3d(0, 0, 0);

            @media (max-width: 768px) {
                transform: translateX(calc(-100% + 45px)) translate3d(0, 0, 0);
            }
        }
        
        .summary--display {
            transform: translateX(0) translate3d(0, 0, 0);
        }
        
        .projects__summary {
            transition: transform 250ms ease-in-out;
            transition-delay: 250ms;
            z-index: 8;
            display: flex;
            flex-direction: column;
            // position: relative;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: $mainBlack;
            padding: 3vw 10% 5% 10%;

            @media (max-width: 965px) {
                padding: 5% 10% 5% 5%;
            }

            .summary__accessories {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;

                .accessories__close {
                    font-size: 3rem;
                    line-height: 1;
                    color: $mainWhite;
                    transition: transform ease-in-out 100ms;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.15);
                    }
                }
    
                .accessories__tag {
                    font-size: 1.5rem;
                    position: absolute;
                    right: 1.5rem;
                    top: auto;
                    transform: translateX(100%) rotateZ(90deg);
                    transform-origin: top left;
                    line-height: 1;
                    text-transform: uppercase;
                    color: $mainWhite;
                    // border: 1px solid $mainWhite;
                }

            }

            .fourth-headline {
                // Shouldn't this be headingType?
                @include bodyType(5.5rem);
                color: $mainWhite;
                // border: 1px solid $mainWhite;
                // Responsive Margins?
                margin-bottom: 20px;
                
                @media (max-width: 500px) {
                    @include bodyType(calc(3.6rem + (55 - 36) * ((100vw - 375px) / (500 - 375))));
                }
            }

            .summary__skills {
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                height: auto;
                width: auto;
                // border: 1px solid $mainWhite;
                margin-bottom: 20px;

                .skills__pill {
                    border: 2px solid $mainWhite;
                    border-radius: 20% / 70%;
                    min-width: 120px;
                    height: 40px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }
    
                    p {
                        @include bodyType(1.768rem);
                        color: $mainWhite;
                        // border: 1px solid $mainWhite;
                        line-height: calc(4rem - 4px);
                        
                        @media (max-width: 500px) {
                            @include bodyType(calc(1.6rem + (17.68 - 16) * ((100vw - 375px) / (500 - 375))));
                            line-height: calc(4rem - 4px);
                        }
                    }
                }
            }

            .summary__video {
                // Vimeo Styles
                padding: 56.25% 0 0 0;
                position: relative;

                // My Styles
                background-color: $mainWhite;
                margin-bottom: 20px;
                
                iframe {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 2px;
                }
            }

            .summary__description {
                @include bodyType(2.02rem);
                line-height: 1.4;
                color: $mainWhite;
                // border: 1px solid $mainWhite;
                margin-bottom: 20px;
                
                // @media (min-width: 1681px) {
                    //     @include bodyType(2.5rem);
                    //     line-height: 1.4;
                    // }
                    
                    @media (max-width: 768px) {
                        // Reversed! Save for use later
                        @include bodyType(calc(1.6rem + (19 - 16) * ((100vw - 768px) / (500 - 768))));
                        line-height: 1.4;  
                    }
                    
                    @media (max-width: 500px) {
                        @include bodyType(calc(1.6rem + (19 - 16) * ((100vw - 375px) / (500 - 375))));
                        line-height: 1.4;  
                    }
                }

            .summary__links {
                // border: 1px solid $mainWhite;
                display: flex;

                li:first-child {
                    margin-right: 40px;
                }

                p {
                    @include bodyType(2.02rem);
                    line-height: 1;
                    color: $mainWhite;
                    
                    @media (max-width: 500px) {
                        @include bodyType(calc(1.8rem + (20.2 - 18) * ((100vw - 375px) / (500 - 375))));
                        line-height: 1;
                    }

                }

                .fa-arrow-right {
                    transform: rotateZ(45deg);
                }
            }
        }

        .summary--macro-calculator {
            background-color: $macroPrimary;

            .summary__accessories {
                .accessories__close {
                    color: $macroSecondary;
                }
    
                .accessories__tag {
                    color: $macroSecondary;
                }
            }

            .fourth-headline {
                color: $macroSecondary;
            }

            .summary__skills {
                @media (max-width: 1516px) {
                    height: 100px;
                }

                @media (max-width: 965px) {
                    height: auto;
                }
                
                @media (max-width: 917px) {
                    height: 100px;
                }

                @media (max-width: 917px) {
                    height: 100px;
                }

                @media (max-width: 470px) {
                    height: 160px;
                }
                
                .skills__pill {
                    border: 2px solid $macroSecondary;

                    p {
                        color: $macroSecondary;
                        
                    }

                    @media (max-width: calc(1516px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 1224px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: calc(1224px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }

                    }

                    @media (max-width: 965px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }
                    
                    @media (max-width: calc(917px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }
                    
                    @media (max-width: 637px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 637px - 128px) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 470px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 470px - 128px) {
                        &:nth-child(2) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .summary__video {
                background-color: $macroSecondary;
            }

            .summary__description {
                color: $macroSecondary;
            }

            .summary__links {
                p {
                    color: $macroSecondary;
                }
            }
        }

        .summary--recipease {
            background-color: $recipeasePrimary;

            .summary__accessories {
                .accessories__close {
                    color: $recipeaseSecondary;
                }
    
                .accessories__tag {
                    color: $recipeaseSecondary;
                }
            }

            .fourth-headline {
                color: $recipeaseSecondary;
            }

            .summary__skills {
                @media (max-width: 1516px) {
                    height: 100px;
                }

                @media (max-width: 965px) {
                    height: auto;
                }
                
                @media (max-width: 917px) {
                    height: 100px;
                }

                @media (max-width: 470px) {
                    height: 160px;
                }
                
                .skills__pill {
                    border: 2px solid $recipeaseSecondary;
                    
                    p {
                        color: $recipeaseSecondary;
                    }

                    @media (max-width: calc(1516px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 1224px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: calc(1224px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 965px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }
                    
                    @media (max-width: calc(917px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }
                    
                    @media (max-width: 637px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 637px - 128px) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 470px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 470px - 128px) {
                        &:nth-child(2) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .summary__video {
                background-color: $recipeaseSecondary;
            }

            .summary__description {
                color: $recipeaseSecondary;
            }

            .summary__links {
                p {
                    color: $recipeaseSecondary;
                }
            }
        }

        .summary--fridge-verses {
            background-color: $fridgeVersesPrimary;

            .summary__accessories {
                .accessories__close {
                    color: $fridgeVersesSecondary;
                }
    
                .accessories__tag {
                    color: $fridgeVersesSecondary;
                }
            }

            .fourth-headline {
                color: $fridgeVersesSecondary;
            }

            .summary__skills {
                @media (max-width: 1516px) {
                    height: 100px;
                }

                @media (max-width: 965px) {
                    height: auto;
                }

                @media (max-width: 917px) {
                    min-height: 100px;
                }

                @media (max-width: 470px) {
                    height: 160px;
                }
                
                .skills__pill {
                    border: 2px solid $fridgeVersesSecondary;
                    
                    p {
                        color: $fridgeVersesSecondary;
                    }

                    @media (max-width: calc(1516px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 1224px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: calc(1224px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 965px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }
                    
                    @media (max-width: calc(917px - 128px)) {
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }
                    
                    @media (max-width: 637px) {
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 637px - 128px) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 470px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 470px - 128px) {
                        &:nth-child(2) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .summary__video {
                background-color: $fridgeVersesSecondary;
            }

            .summary__description {
                color: $fridgeVersesSecondary;
            }

            .summary__links {
                p {
                    color: $fridgeVersesSecondary;
                }
            }
        }

        .summary--nosuchthing {
            background-color: $nosuchthingPrimary;

            .summary__accessories {
                .accessories__close {
                    color: $nosuchthingSecondary;
                }
    
                .accessories__tag {
                    color: $nosuchthingSecondary;
                }
            }

            .fourth-headline {
                color: $nosuchthingSecondary;
            }

            .summary__skills {
                @media (max-width: 1224px) {
                    height: 100px;
                }

                @media (max-width: 965px) {
                    height: auto;
                }

                @media (max-width: 637px) {
                    height: 100px;
                }

                .skills__pill {
                    border: 2px solid $nosuchthingSecondary;

                    p {
                        color: $nosuchthingSecondary;
                    }

                    @media (max-width: calc(1224px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 965px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: calc(637px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 470px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 470px - 128px) {
                        &:nth-child(2) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .summary__video {
                background-color: $nosuchthingSecondary;
            }

            .summary__description {
                color: $nosuchthingSecondary;
            }

            .summary__links {
                p {
                    color: $nosuchthingSecondary;
                }
            }
        }

        .summary--strainless {
            background-color: $strainlessPrimary;

            .summary__accessories {
                .accessories__close {
                    color: $strainlessSecondary;
                }
    
                .accessories__tag {
                    color: $strainlessSecondary;
                }
            }

            .fourth-headline {
                color: $strainlessSecondary;
            }

            .summary__skills {
                @media (max-width: 1224px) {
                    height: 100px;
                }

                @media (max-width: 965px) {
                    height: auto;
                }

                @media (max-width: 637px) {
                    height: 100px;
                }

                .skills__pill {
                    border: 2px solid $strainlessSecondary;

                    p {
                        color: $strainlessSecondary;
                    }

                    @media (max-width: calc(1224px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 965px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: calc(637px - 128px)) {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }

                    @media (max-width: 470px) {
                        &:nth-child(3) {
                            margin-right: 20px;
                        }
                    }

                    @media (max-width: 470px - 128px) {
                        &:nth-child(2) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .summary__video {
                background-color: $strainlessSecondary;
            }

            .summary__description {
                color: $strainlessSecondary;
            }

            .summary__links {
                p {
                    color: $strainlessSecondary;
                }
            }
        }

        @media (max-width: 965px) {
            // z-index: 10;
            width: calc(100% - 115px);
            // display: none;
        }

        @media (max-width: 768px) {
            width: 100%;
            height: calc(100% - 115px);
            margin: auto 0 0 0;        }
        }
}