.section--skills {
    padding-top: 3%;
    display: block;
    height: 100vh;
    
    .section-container {
        height: calc(100% - 115px);
        border: 1px solid red;
        padding: 3%;
    }

    @media (max-width: 768px) {
        padding-top: 155px;
    }

    .skills__shape {
        position: relative;
    }

    .skills__banner {
        overflow: hidden;
        display: flex;        
        height: 115px;
        width: calc(100vw - 215px);
        background: transparent;
        margin: 0 50px 0 165px;
        border-bottom: 6px solid $mainWhite;
        border-top: 6px solid $mainWhite;
        mix-blend-mode: difference;

        &:hover > .skills__list {
            animation-play-state: paused;
        }

        @media (min-width: 1681px) {
            width: auto;
        }

        @media (max-width: 768px) {
            margin: 0;
            width: 100vw;
        }

        @keyframes marquee {
            0% { transform: translateX(0); }
            100% { transform: translateX(-100%); }
        }

        .skill__list--wrap {
            animation-delay: 6s;
            // border: 1px solid red;
        }

        .skills__list {
            display: flex;
            height: 100%;
            @include bodyType(calc(3.8rem + (55 - 38) * ((100vw - 375px) / (1680 - 375))));
            line-height: calc(115px - 12px);
            animation: marquee 12s linear infinite;
            transform: translate3d(0, 0, 0);

            .main-skill {
                white-space: nowrap;
            }

            .list__divider {
                display: inline-block;
                margin: 0 20px;
                user-select: none;
            }
        }
    }
}