// Primary Palette
$mainBlack: #161616;
$mainWhite: #DDDCE1;
$mainAccent: #4C47F9;

// Diet Calculator Palette
$dietPrimary: #165A96;
$dietSecondary: #E093B3;

// Recipease Palette
$recipeasePrimary: #FDA63D;
$recipeaseSecondary: #914F00;

// Frige Verses Palette
$fridgeVersesPrimary: #01B99F;
$fridgeVersesSecondary: #005246;

// NOSUCHTHING Palette
$nosuchthingPrimary: #E35742;
$nosuchthingSecondary: #FFE2E2;

// Strainless Palette
$strainlessPrimary: #A8E2E4;
$strainlessSecondary: #34437C;

// Typefaces
@font-face {
	font-family: 'Beni';
    font-style: normal;
    font-weight: 700;
	src: url('../fonts/beni-bold/beni-bold.eot');
	src: url('../fonts/beni-bold/beni-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/beni-bold/beni-bold.woff2') format('woff2'),
        url('../fonts/beni-bold/beni-bold.woff') format('woff'),
        url('../fonts/beni-bold/beni-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Beni';
    font-style: normal;
    font-weight: 400;
	src: url('../fonts/beni-regular/beni-regular.eot');
	src: url('../fonts/beni-regular/beni-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/beni-regular/beni-regular.woff2') format('woff2'),
        url('../fonts/beni-regular/beni-regular.woff') format('woff'),
        url('../fonts/beni-regular/beni-regular.ttf') format('truetype');
}

$body: 'Inter', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$heading: 'Beni';

@mixin headingType($fontFace, $sizeValue, $fontWeight, $colorValue: $mainWhite) {
    color: $colorValue;
    font-family: $fontFace;
    font-size: $sizeValue;
    font-weight: $fontWeight;
}

@mixin bodyType($sizeValue) {
    color: $mainWhite;
    font-family: $body;
    font-size: $sizeValue;
    font-weight: 400;
    letter-spacing: 0rem;
    line-height: $sizeValue;
}

@mixin stroke($size: 1px, $color: $mainWhite) {
    text-shadow:
        -#{$size} -#{$size} 0 $color,
        0        -#{$size} 0 $color,
        #{$size} -#{$size} 0 $color,
        #{$size}  0        0 $color,
        #{$size}  #{$size} 0 $color,
        0         #{$size} 0 $color,
        -#{$size}  #{$size} 0 $color,
        -#{$size}  0        0 $color;
}